691RS-Project-description.docx
Data_ratings_Clothing_Shoes_and_Jewelry.csv
eggs2.csv
eggs.csv
items.txt
Processed_data.csv
Processed_data_test.csv
Processed_data_train.csv
ratings_Clothing_Shoes_and_Jewelry.csv
users.txt
.ipynb_checkpoints/*